[submodule "third_party/CMakeTest"]
  path = third_party/CMakeTest
  url = https://github.com/josephgarnier/CMakeTest.git
[submodule "third_party/CMaize"]
  path = third_party/CMaize
  url = https://github.com/josephgarnier/CMaize.git
[submodule "third_party/CMakePPLang"]
  path = third_party/CMakePPLang
  url = https://github.com/josephgarnier/CMakePPLang.git
[submodule "third_party/ModernCMakeSphinxDomain"]
  path = third_party/ModernCMakeSphinxDomain
  url = https://github.com/josephgarnier/moderncmakedomain
