[submodule "external/CMakeTest"]
  path = external/CMakeTest
  url = https://github.com/josephgarnier/CMakeTest.git
[submodule "external/CMaize"]
  path = external/CMaize
  url = https://github.com/josephgarnier/CMaize.git
[submodule "external/CMakePPLang"]
  path = external/CMakePPLang
  url = https://github.com/josephgarnier/CMakePPLang.git
[submodule "external/ModernCMakeSphinxDomain"]
  path = external/ModernCMakeSphinxDomain
  url = https://github.com/josephgarnier/moderncmakedomain
